<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848296565441-iqv0d7jaumv1kpam9qrqks5ucfpv7i48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848296565441-iqv0d7jaumv1kpam9qrqks5ucfpv7i48</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>848296565441-71k2ui01gvuhsfja4uvm2r2ds4vor975.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBp8VNewCILJgEIdEKdA7KEaSYuT2iLqM0</string>
	<key>GCM_SENDER_ID</key>
	<string>848296565441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanysu.main</string>
	<key>PROJECT_ID</key>
	<string>tanysu-a540c</string>
	<key>STORAGE_BUCKET</key>
	<string>tanysu-a540c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848296565441:ios:df2210da13aa42866ad240</string>
</dict>
</plist>